.footer__title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-light);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

footer {
    /* margin-top: auto; */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}