.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
}

.header li {
    color: #fff;
}