/* .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} */

.timer {
    font-family: "Space Grotesk", sans-serif;
    color: var(--clr-light);
    font-size: 10rem;
    font-weight: 800;
}

.hero {
    display: grid;
    grid-template-columns: 7;
    grid-template-rows: 4;
    align-items: center;
    gap: 5rem;
    text-align: center;
    justify-items: center;
}