.card {
    width: 150px;
    height: 100px;
    background: transparent;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    opacity: 1;
    pointer-events: auto;
    color: #101733;
    z-index: 1000;
}

.time-text {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.time-sub-text {
    font-size: 0.5em;
    vertical-align: super;
}

.day-text {
    font-size: 0.8em;
    margin: 0;
}

.moon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    fill: #101733;
}